body {
  margin: 0px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 85vh;
}

.timer {
  margin-top: 1%;
  font-size: 50pt;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.box {
  width: 50%;
  height: 50%;
  background: #2d2e29;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0px solid black;
}

.text {
  display: flex;
  flex-direction: column;
  margin-bottom: 10%;
}

.text input {
  height: 40px;
  border-radius: 5px;
  font-size: 20pt;
}

label {
  color: white;
  font-family: arial;
  font-size: 30pt;
  margin-bottom: 3%;
}

.myButton {
  box-shadow: 0px 1px 0px 0px #1c1b18;
  background-color: #f1eee2;
  border-radius: 10px;
  border: 1px solid #333029;
  display: inline-block;
  cursor: pointer;
  color: #575f3c;
  font-family: Arial;
  font-size: 21px;
  font-weight: bold;
  padding: 15px 47px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
}
.myButton:hover {
  background-color: #ccc2a6;
}
.myButton:active {
  position: relative;
  top: 1px;
}
